DATABASE_URL="postgresql://postgres:postgres@localhost:5432/buildforu?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
JWT_EXPIRES_IN="12h"
FRONTEND_URL="http://localhost:5173"
PORT=5000
NODE_ENV="development"
